
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Mono:wght@100&family=Satisfy&display=swap');

@import url();

body {
  position: relative;
  min-height: 100vh;
  font-weight: bold;
  
  
} 

.nav-item ,
.nav-link a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;

}
.navbar_item_custom,
.navbar_item_custom a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;

  
}

.footer-custom {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #030c17;
  padding-top: 25px;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace; 
 } 

.product-item {
  margin-top: 50px;

}
.product-item h5 {
  text-transform: uppercase;
  font: bold;
  font-size: 17px ;
  margin-bottom: 1px;

}

.product-container {
  margin-bottom: 150px;
}

.product-subtitle {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;
  
}

.product-price {
  font-size: 15px;
  font-weight: bold;
}

.product-page-price {
  font-weight: bold;
  font-size: 19px;
}

.block-small {
  max-width: 600px;
  margin: 0 auto;
}

.no-style-hover a:hover {
  text-decoration: none;
}

.form-check {
  background-color: #8cd5d4;
  padding: 20px 65px;
  
}

.col-form-label {
  font-weight: bold;
}

.order-summary {
  background-color: #f4f8ff;
  margin-top: 17px;
  padding: 16px;
}

.account-item {
  background-color: #f1f2f6;
  padding: 70px 50px;
}

.account-item a {
  text-transform: uppercase;
  font-size: 13px;
  color: #4b6584;
  font-weight: bold;
}

.account-item a:hover {
  color: #778ca3;
  text-decoration: none;
}
/* .badge {
  bottom: 15px;
  left: 35px;
} */
/* .produit{
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;

}
/* thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
} */
